/********************************** 
* Design by:  [your name]
* Design name:  [your design name]
* 
* License: [license name - e.g. MIT if you want to let others
* use the design with attribution, or All Rights Reserved if you
* don't want others to use the design]
* 
* Acknowledgments/Sources:
* - 
* - 
* -
*/

/* Starter code -- feel free to delete */

/* Typography */

/* Get your own import URL from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

.page-wrapper {
  /* Main font */
  font-family: New Rocker, sans-serif;
}
h1,
h2, 
h3,
h4,
h5, 
h6{
  /* Header font */
  font-family: "New Rocker", Bold;
}

/* Background */
#css-zen-garden {
  background: 
  radial-gradient(rgba(255, 255, 255, 0.145),rgba(0, 0, 0, 0.792)),
  linear-gradient(45deg, #9c6109d3 0%, #5d360fba 100%);
}
/* Page wrapper */
.page-wrapper {
  box-sizing: border-box;
  background: rgba(37, 123, 20, 0.662);
  border: 1px solid #5b0c6d;
  padding: 1em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  max-width: 960px;
  margin: 0 auto;
}
